node_modules/
dist/
build/

.env
.env.*
!.env.example

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.idea/
.vscode/
*.log
*.tsbuildinfo
